<script lang="ts">
    import { math } from 'mathlifier';
	import Hoverable from '$lib/components/Hoverable.svelte';
    {{ts_script}}


    function setActive(e){
        console.log(e)
    }

</script>

{{main_html}}